<%= render "flashcards/filter_bar", query: @query, pagy: @pagy %>

<% if @card.present? %>
  <%= render_annotation(@card.annotation) %>

  <div class="flex w-fit mx-auto mb-6">
    <%= render 'flashcards/scoring_buttons',
       card: @card
    %>
  </div>

  <div class="w-fit m-auto mb-14">
    <span class="text-gray-400 font-bold">
      Scored today: <%= Flashcard.scored_today.count %>
    </span>
  </div>

<% elsif current_page?(controller: 'due_flashcards') and current_user.flashcards.due.count == 0 %>
  <h2 class="font-bold text-2xl">No more due cards :)</h2>
<% elsif current_page?(controller: 'unscored_flashcards') and current_user.flashcards.unscored.count == 0 %>
  <h2 class="font-bold text-2xl">You scored all the new cards :)</h2>
<% else %>
  <h2 class="font-bold text-2xl">Current filter doesn't return any cards, try adjusting it</h2>
<% end %>