<%= render "filter_bar" %>

<% @flashcards.each do |card| %>
  <%= render_flashcard(card) %>
<% end %>

<div class="mb-14">
  <span class="text-gray-400 font-bold">
    Scored today: <%= Flashcard.scored_today.count %>
  </span>
</div>
