<h3 class="mb-8 font-bold text-3xl">Profile</h3>

<div class="p-8 bg-gray-100 border border-gray-200 ">
  <ul class="mb-6">
    <li class="mb-2">
      Username:<br><%= @user.username %>
    </li>
    <li>
      Email:<br><%= @user.email %>
    </li>
  </ul>
  
  <%= link_to "Edit", edit_user_path(@user), class: "btn" %>
  <%= link_to "Delete", user_path(@user), class: "btn",
      method: :delete, data: { turbo_method: :delete, turbo_confirm: "Sure?" }
  %>
  
</div>
