 <div class="mb-6">
  <div class="flex mb-2 justify-between">
    <div>
      <h2 class="text-2xl font-bold mb-2">News Dashboard</h2>
    </div>
    <div>
      <%= link_to "Settings", rss_feeds_path, class: "btn" %>
    </div>
  </div>
  <p class="text-gray-600">
    This page is designed to be a cherry-picked list of the top links across the link aggregators I frequent.
    It collects the highest scoring and most commented posts.
  </p>
</div>

<div class="space-y-8 mb-14">
  <% RssFeed.where("url like 'https://lobste%'").each do |feed| %>
    <%= render 'rss_feed', feed: feed, limit: 5 %>
  <% end %>
  <% RssFeed.where("url like 'https://hnrss%'").each do |feed| %>
    <%= render 'rss_feed', feed: feed, limit: 5 %>
  <% end %>
  <% RssFeed.where("url like 'https://www.reddit%'").each do |feed| %>
    <%= render 'reddit_rss_feed', feed: feed, limit: 5 %>
  <% end %>
</div>

