
<div class="mb-6 content_page">
  <h2 class="mb-6 text-xl font-bold">A tool to re-discover books you've read</h2>
  
  <p class="paragraph">
    I have plenty of tools and methods to consume <i>new</i> information. I tend to overuse these tools, instead of integrating the stuff I already collected.
  </p>

  <p class="paragraph">
    Instead, this webapp helps with <i>re-dicsovering</i> what you already deemed important once.
  </p>

  <h3 class="text-2xl font-semibold text-gray-500">
    See <mark class="bg-yellow-100">all the stuff you ever highlighted</mark> from books and articles in one feed, with a spaced-repetition algorithm.
  </h3>

  <h2 class="mb-6 font-bold text-2xl">Explore the context of annotations</h2>

  <p class="paragraph">
    Context matters. Clicking the highlight pops additional context around the original highlight (if you are into unix: think <code>grep -C 1</code>). No need to highlight everything, or try to decide upfront how much context will be enough. There is a button to further increase or decrease the context.
  </p>
  
  <p class="paragraph">
    Additionally, the source book, the chapter (and subchapters if any) are displayed on each highlight's card.
  </p>

  <p class="paragraph">
    It is our self-hosted Readwise alternative. Currently in PoC state that was made over a weekend, with only Calibre annotation import support.
  </p>

  <h2 class="mb-6 text-xl font-bold">Screenshots</h2>

  <h3 class="mb-6 text-xl font-bold text-gray-400">Context feature</h3>
  <div class="border mb-8 border-gray-200">
    <a href="https://github.com/qirpi/remember">
      <%= image_tag "remember6.png" %>
    </a>
  </div>

  <h3 class="mb-6 text-xl font-bold text-gray-400">Book view</h3>
  <div class="border mb-8 border-gray-200">
    <a href="https://github.com/qirpi/remember">
      <%= image_tag "remember5.png" %>
    </a>
  </div>

    
</div>
