<div class="mt-8">
  <h1 class="font-bold text-4xl">Annotated Books</h1>

  <div class=" mt-8 shadow-md">
    <ul class="list-disc px-12 py-8 border">
      <% @books.each do |book| %>
        <li class="mb-4"><%= link_to book.title, book %></li>
      <% end %>
    </ul>
  </div>

</div>
