<div class="flex justify-between">
  <div class="mb-8">
    <h1 class="text-2xl mb-4 font-bold"><%= link_to @book.title %></h1>
    <span class="text-sm"><%= @book.author %></span>
  </div>
  
  <div class="max-w-[200px]">
    <%= book_cover(@book) %>
  </div>

  <div class="flex flex-wrap">
    <% @book.annotations.each do |a| %>
      <div class="p-4 drop-shadow-md mb-8">
        <%= a.highlighted_text %>
      </div>
    <% end %>
  </div>
</div>
