<h1 class="mb-14 text-3xl font-bold">Extracted Plain Text</h1>

<hr class="my-4 border border-1">
<h2 class="text-2xl "><%= @book.title %></h2>
<span class="text-sm">by <%= @book.author %></span>
<hr class="my-4 border border-1">

<p class="prose">
  <%= @book.full_text %>
</p>

<style>
  p { white-space: pre-line; }

</style>
