<h1 class="mb-10 text-3xl font-bold">English Words</h1>
<div class="mb-14 grid grid-cols-5 gap-4">
  <% @english_words.each do |word|  %>
    <div class="flex justify-between py-1 px-2 bg-gray-50 border text-sm">
      <%= link_to word.word.truncate(18), english_word_path(word) %>
      <span class="text-gray-300">
        <%= button_to "x", english_word_path(word), method: :delete,
          form: { data: { turbo_confirm: "Are you sure?" } } %>
      </span>
    </div>
  <% end %>
</div>
