<!-- Simple card, showing just the content and timestamp -->
<div class="p-6 mb-8 shadow-md border " >
  <p class="card-text mb-6">
    <%= show_context(annotation, 300) %>
  </p>
  <div class="flex justify-between">
    <%= link_to annotation do %>
      <%= time_ago_in_words(annotation.timestamp) %> ago
    <% end %>
    <%= button_to_star(annotation) %>
  </div>
</div>
