<div class="p-6 mb-8 shadow-md border " >
  <p class="prose mb-6">
  <%= show_paragraph_of(annotation) %>
  </p>
  <%= link_to annotation do %>
    <%= time_ago_in_words(annotation.timestamp) %> ago
  <% end %>
</div>
