<% @annotations.each do |a| %>
  <%= render_annotation_card(a) %>
<% end %>

<% if @pagy.present? %>
  <div class="mb-24 mt-24 w-full">
    <div class="w-fit mx-auto">
      <%== pagy_nav(@pagy) %>
    </div>
  </div>
<% end %>
