<div>
  <h1 class="mb-8 font-bold text-4xl">All Annotations</h1>
  <% @annotations.each do |a| %>
    <div class="p-6 mb-8 shadow-md border " >
      <p class="mb-4"><%= a.highlighted_text %></p>
      <hr class="mb-2">
      <section class="text-xs">
        <%= link_to a.book.title, a.book, class: "text-indigo-700" %> by <%= a.book.author %>
      </section>
    </div>
  <% end %>
</div>
