<div class="mb-8">

  <%# TODO: Improve this view %>
  <%= render 'annotations/card',
    annotation: @annotation unless @annotation.highlighted_text.blank? %>
  
  <div class="text-gray-500 w-full text-right">
    from <span class="font-medium"><%= @annotation.chapters.to_sentence %></span> of <%= link_to @annotation.book.title, @annotation.book, class: "link italic" %>
  </div>
</div>

<%# Display notes if there are any %>
<%= display_notes(@annotation) %>
