<% flash.each do |flash_type, message| %>
  <%# IMPORTANT: We do an explicit remvoe on animationend above using a simple stimulus controller.
      The reason is that even after fading out, the element remains there, causing glitches like
      changing the cursor when hovering around that idea.
  %>
  <div
    class="p-2 text-lg border animate-appear_then_fade shadow-md bg-gray-50 border-gray-200"
    data-controller="removals"
    data-action="animationend->removals#remove"
  >
    <%= message %>
  </div>
<% end %>
