<%# Flash component %>
<%# message:: string to display in flash %>

<%# TODO add flash_type:: change styling based on alert/notice %>

<% flash.each do |flash_type, message| %>
  <%# IMPORTANT: The animation is set-up in the flash stimulus controller.
      We explicitly remove the DOM element when the animation is over, to
      avoid glitches like the cursor changing when hovering over it.
  %>
  <div
    data-controller="flash"
    class="p-2 text-lg border shadow-md bg-gray-50 border-gray-200"
  >
    <%= message %>
  </div>
<% end %>
