<nav class="flex font-bold text-xl space-x-8 ">
  <%= link_to "Home", root_path %>
  <%= link_to "Import Annotations", import_path %>
  <%= link_to "Books", books_path %>
  <%= link_to "Add Book", new_book_path %>
</nav>
